<!DOCTYPE html>
<html>

<head>
    <title>Vegan Supplements</title>
    <link rel="stylesheet" href="style.css">

<body>
    <div class="grid-container">
        <header class="header">
            <div class="brand">
                <a href="index.html">Vegan Supplements</a>
            </div>
            <div class="header-links">
                <a href="cart.html">Cart</a>
                <a href="signin.html">SignIn</a>
            </div>
        </header>
        <aside>
            Shopping Categories
        </aside>
        <main class='main'>
            <ul>
                <li>Product1</li>
                <li>Product2</li>
                <li>Product3</li>
            </ul>
        </main>
        <footer class="footer">
            All right reserved
        </footer>
    </div>
</body>

</html>